footer {
  font-family: "Akzidenz-Grotesk Pro Regular";
  display: flex;
  padding: 2rem;
  background-color: black;
  color: white;
  font-size: .875rem;
  line-height: 1.125rem;
  margin-bottom: 0;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
